.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 0.75rem;
}

.label {
  display: flex;
  align-items: center;
  min-width: 10rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
