.bodySmall {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}

.bodyMedium {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
}

.bodyLarge {
  font-size: 22px;
  line-height: 1.7;
  font-weight: 400;
}

.headingSmall {
  font-size: 24px;
  line-height: 1.35;
  font-weight: 600;
}

.headingMedium {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 700;
}

.headingLarge {
  font-size: 38px;
  line-height: 1.2;
  font-weight: 700;
}
